@import '../lib/colors/colors.scss';

#sidebar {
    height: 100%;
    width: 30%;
    background-color: $primary-color;
    color: white;

    padding-top: 25px;

    h1 {
        color: white;
    }

    li {
        list-style: none;
    }

}