.contenu {
    min-height: 620px;

    a {
        width: 35%;
        border: 1px solid lightgrey;
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
}