.search {
    width: 50%;
    overflow: visible;

    #searchBar {
        width: 500px;

        fieldset {
            border-color: red;
        }
    }


    #results {
        z-index: 1;
        position: absolute;
        background-color: white;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 0 0 10px 10px;
        width: 500px;
        padding: 5px;
    }
}



.MuiFormLabel-root {
    color: #502776 !important;
    font-family: 'Poppins', sans-serif !important;
}

.MuiOutlinedInput-notchedOutline {
    border: 2px solid #502776 !important;
}

.Mui-focused {
    color: #D01D7B !important;

    .MuiOutlinedInput-input {
        color: black !important;
        font-family: 'Poppins', sans-serif !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: #D01D7B !important;
    }
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-notchedOutline {
    border-color: #502776 !important;
}