@import '../../lib/colors/colors.scss';

.sidebar {
    height: 100%;
    width: 30%;
    background-color: $primary-color;
    color: white;
    padding-top: 50px;

    h1 {
        color: white;
    }

    li {
        list-style: none;

        p:hover {
            cursor: pointer;
        }
    }

    .profil-onglet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}