.checkbox {
    box-shadow: none !important;
}

.form-div {
    width: 100%;
}

.product-input {
    margin-bottom: 5px;
}

.products-table {
    overflow: scroll;
    width: 90%;
    padding: 2%;
    box-shadow: 0px 1px 15px rgba($color: #502776, $alpha: 0.5);

}