footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #502776;
    height: 100px;
    gap: 10px;
    padding: 30px;

    p {
        margin: 0;
    }

    .legal {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    a {
        color: white;
        text-decoration: none;
    }
}