<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Backend Amine server -->
	<key>SERVER_CLIENT_ID</key>
	<string>[YOUR SERVER CLIENT ID]</string>

	<key>CLIENT_ID</key>
	<string>423641214315-bt61ek6pv2skk4q1r218dnqubdj6hb2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423641214315-bt61ek6pv2skk4q1r218dnqubdj6hb2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBMPCIQyn4fUBtjnGpy-1OvvB8khsyZE1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>423641214315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meublox</string>
	<key>PROJECT_ID</key>
	<string>projet-fin-d-annee-4e30e</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-fin-d-annee-4e30e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423641214315:ios:5cfc6b843edce57d0a302e</string>
</dict>
</plist>