.login-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    padding: 20px;

    .form {
        width: 80%;
        margin: 10px 0px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
    }

    .remember-validation {

        display: flex;
        justify-content: space-between;
        width: 80%;

        .remember {
            display: flex;
            align-items: center;
            gap: 10px;

            #remember {
                width: 30px;
                height: 30px;
            }
        }

        .validation {
            width: 200px;
            height: 50px;
            background-color: #502776;
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}