header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    img {
        width: 150px;
    }

    .login-profil-cart {
        width: 20%;
        display: flex;
        justify-content: space-between;
    }

    .cart {
        width: 40%;
        display: flex;
        gap: 10px;
    }

    a {
        color: black;
        text-decoration: none;
    }


    a:hover {
        color: #D01D7B;
        font-weight: 700;
    }

    .articles-number {
        display: flex;
        border: 2px solid #502776;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}